.col-xs-4.col-sm-4.col-md-4.col-lg-4.pan
  .org-quota.phxl.ptxl.pbl
    .em-alt.type-sm.em-low
      | Org Quota
    .progress.mts.bg-dark-5
      - var quota = 10
      - var quota_used = 2.5
      - var quota_percent = (100 * (quota_used / quota)).toFixed(0)
      .progress-bar(role='progressbar',style="width: #{quota_percent}%;", aria-valuenow='#{quota_percent}', aria-valuemin='0', aria-valuemax='100')
        .label
          | #{quota_percent}%
    p.small
      | #{quota_used}GB of #{quota}GB
